.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-auto-rows: minmax(166px, auto);
  }
  
  .ressourceSideBar {
    grid-column: 1;
    grid-row: 2/12;
  }
  .schemaUI {
    grid-column: 2/6;
    grid-row: 2/11;
    background-color: #002082;
    opacity: 75%;
  }
  .codeEditor {
    grid-column: 6;
    grid-row: 2/12;
    width: 500px;
  }
  .descriptions {
    grid-column: 2/6;
    grid-row: 11;
  }
  .header {
    grid-column: 1/7;
    grid-row: 1;
  }
  
  .wrapper_reactflow {
    height : 811px
  }
  
  .description{
    height : 80px
  }
  
  .list {
    position : relative;
    height: 45px;
  
  }
  
  .react-flow__node.selected {
    background-color: #F08080;
  }
  
  @media (max-width: 1600px)
  {
      .wrapper {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(8, auto);
      grid-auto-rows: minmax(168px, auto);
    }
    
    .ressourceSideBar {
      grid-column: 1;
      grid-row: 2/4;
      opacity: 50%;
    }
    .schemaUI {
      grid-column: 2/6;
      grid-row: 2;
      background-color: #002082;
      opacity: 75%;
    }
    .codeEditor {
      grid-column: 6;
      grid-row: 2/4;
    }
    .descriptions {
      grid-column: 2/6;
      grid-row: 3;
    }
    .header {
      grid-column: 1/7;
      grid-row: 1;
    }
    
    .wrapper_reactflow {
      height : 465px
    }
    
    .description{
      height : 80px
    }
  }