body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, auto);
  grid-auto-rows: minmax(166px, auto);
}

.ressourceSideBar {
  grid-column: 1;
  grid-row: 2/12;
  background-color: red;
  opacity: 50%;
}
.schemaUI {
  grid-column: 2/6;
  grid-row: 2/11;
  background-color: blue;
  opacity: 50%;
}
.renderCode {
  grid-column: 6;
  grid-row: 2/12;
  background-color: green;
  opacity: 50%;
}
.descriptions {
  grid-column: 2/6;
  grid-row: 11;
  background-color: yellow;
  opacity: 50%;
}
.header {
  grid-column: 1/7;
  grid-row: 1;
}

.wrapper_reactflow {
  height : 811px
}

.description{
  height : 80px
}

.list {
  position : relative;
  height: 45px;

}

.react-flow__node.selected {
  background-color: red;
}

@media (max-width: 1600px)
{
    .wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-auto-rows: minmax(168px, auto);
  }
  
  .ressourceSideBar {
    grid-column: 1;
    grid-row: 2/4;
    background-color: pink;
    opacity: 50%;
  }
  .schemaUI {
    grid-column: 2/6;
    grid-row: 2;
    background-color: blue;
    opacity: 50%;
  }
  .renderCode {
    grid-column: 6;
    grid-row: 2/4;
    background-color: green;
    opacity: 50%;
  }
  .descriptions {
    grid-column: 2/6;
    grid-row: 3;
    background-color: yellow;
    opacity: 50%;
  }
  .header {
    grid-column: 1/7;
    grid-row: 1;
  }
  
  .wrapper_reactflow {
    height : 465px
  }
  
  .description{
    height : 80px
  }
}