.section-home__main {
  background-image: url('../../../public/home.png');
  min-height: 660px;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: clamp(20vw, 700px, 50vw);
}
